<div class="flex">
  <app-side-navbar></app-side-navbar>
  <div aria-label="Container" class="w-full">
    <div aria-label="Wrapper" class="w-full overflow-y-auto">
      <div aria-label="Header" class="flex flex-row bg-gray-200 py-2 px-2 justify-between">
        <div aria-label="Header Title">
          <h2 class="text-black-300 font-semibold text-[30px]">User Management</h2>
        </div>
        <div aria-label="Actions">
          <div class="Buttons">
            <button mat-flat-button color="primary" class="rounded-lg" [routerLink]="['new']"><mat-icon>add</mat-icon>New</button>
            <button mat-flat-button color="warn" class="rounded-lg mx-2"><mat-icon>delete</mat-icon>Delete</button>
          </div>
        </div>
      </div>

      <div aria-label="Body">
        <div aria-label="Item Header" class="user-management-grid grid py-8">
          <ng-container *ngFor="let row of labels.headers">
            <div class="ps-2 font-semibold text-gray-500">
              {{ row.value }}
            </div>
          </ng-container>
        </div>
        <div aria-label="Item List">
          <ng-container *ngIf="userList$ | async as userList">
            <ng-container *ngFor="let user of userList">
              <div class="user-management-grid grid py-2 px-2">
                <div class="">
                  {{ user?.Name }}
                </div>
                <div class="">
                  {{ user?.Birthday | date: dateFormat.dateLong }}
                </div>
                <div class="">
                  {{user?.Email }}
                </div>
                <div class="">
                  {{ ' ' }}
                </div>
                <div class="">
                  <mat-form-field appearance="outline">
                    <mat-select [placeholder]="'Actions'" (selectionChange)="actionChanged($event.value, user?.guid)">
                      <mat-option [value]="'Update'" >Update</mat-option>
                      <mat-option [value]="'Delete'">Delete</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>